//FONT
$default-font-size: 1.6rem;
$title-font-size: 3rem;
$heading-font-size: 2.2rem;

//COLORS
$color-primary: #398ad7;
$color-secondary: #2f66a9;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines what 1 rem is
  font-size: 62.5%;

  @include respond (tab-land) { //width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }
  @include respond (tab-port) { //width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 60%
  }
  @include respond (big-desktop) {
    font-size: 75%;
  }
}

body {
    box-sizing: border-box;
    padding: 4rem 4rem 0 4rem;

    @include respond (tab-port) {
        padding: 3rem 3rem 0 3rem;
    }

    @include respond (phone) {
      padding: 2rem 2rem 0 2rem;
    }
    
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
}

*::selection {
    background: $color-grey-dark-2;
    color: $color-grey-light-1;
}

a,
a:link,
a:visited,
a:active {
    color: $color-primary;
    text-decoration: none;
}

.btn {
  &,
  &:link,
  &:visited {
      width: 17rem;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 0.75rem 4rem;
      border-radius: .2rem;
      display: inline-block;
      transition: all .2s;
      position: relative;
      font-size: $default-font-size;
      border: none;
      cursor: pointer;
  }

  &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  }
    
  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  
  &--white {
      background-color: $color-grey-light-1;
      color: $color-grey-dark;

      &::after {
          background-color: $color-grey-light-1;
      }
  }
}